.menu {
  border-radius: 0;
}

.menu-head {
  color: #ffffff !important;
}

.menu-item > a {
  color: #ffffff !important;
}

.menu-item > a:hover {
  color: #D01031 !important;
}

.menu-item:hover {
  background-color: #ffffff !important;
}

.menu-item.active > a {
  color: #D01031 !important;
  background-color: #ffffff !important;
}

.menu-thumbnail {
  display: inline-block;
  max-height: 35px;
}
